app/tmp/cache/models/cake_model_default_candycane_list
app/tmp/cache/models/cake_model_default_news
app/tmp/cache/models/cake_model_default_projects
app/tmp/cache/models/cake_model_default_redmine_development_list
app/tmp/cache/models/cake_model_default_users
app/tmp/cache/persistent/cake_core_core_paths
app/tmp/cache/persistent/cake_core_default_jpn
app/tmp/cache/persistent/cake_core_dir_map
app/tmp/cache/persistent/cake_core_file_map
app/tmp/logs/debug.log
app/tmp/logs/error.log

