## Configuration and Temporary files
app/Config/database.php
app/tmp/cache/models/*
app/tmp/cache/persistent/*
app/tmp/cache/*
app/tmp/logs/*
app/tmp/tests/*
app/files/*

## Simpletest
vendors/simpletest

## IDE files and folders
.cache
.project
.settings
nbproject
.idea

## Allow 'empty' files
!empty

.DS_Store
