[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "deploy"]
	path = deploy
	url = git://github.com/yandod/engineyard-cakephp-deploy.git
