/* 
    Document   : application.css
    Created on : 2012/01/05, 1:07:37
    Author     : kabayaki91
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

